 <!-- Logo-->


 <section id="logo-section" class="py-5 bg-light text-dark text-center mb-5">
    <div class="container-fluid">
    
      <div class="logo-slider bg-light">
        <div class="logo-track">
            <img src="/assets/Images/aws.png" alt="Google">
            <img src="/assets/Images/java.png" alt="Microsoft">
            <img src="/assets/Images/python.png" alt="TCS">
            <img src="/assets/Images/angular.png" alt="SCER">
            <img src="/assets/Images/ai.png" alt="Myntra">
            <img src="/assets/Images/ml.png" alt="Oracle">
            <img src="/assets/Images/ds.png" alt="Flipkart">
    
           
            <img src="/assets/Images/aws.png" alt="Google">
            <img src="/assets/Images/java.png" alt="Microsoft">
            <img src="/assets/Images/python.png" alt="TCS">
            <img src="/assets/Images/angular.png" alt="SCER">
            <img src="/assets/Images/ai.png" alt="Myntra">
            <img src="/assets/Images/ml.png" alt="Oracle">
            <img src="/assets/Images/ds.png" alt="Flipkart">
        </div>
    </div>
    </div>
    
  </section>

  
  

  <!--Footer-->
  
  <section id="footer-section" data-aos="fade-up" data-aos-delay="200" class="py-5  text-white">
    <div class="container">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <div class="d-flex flex-column">
              
              <!-- Logo inside circle -->
               <div class="logo-container">
              <div class="d-flex align-items-center justify-content-center " 
                style="height: 70px; width: 70px; background-color: white; border-radius: 50%; ">
                <a class="d-flex align-items-center" href="index.html">
                  <img src="/assets/Images/Sanyu.png" alt="" width="36" height="36" class="me-2" style="margin-left: 8px;">
                </a>
              </div>
            </div>
              
              <!-- Company Name -->
              <a href="index.html" class="nav-link text-white mt-3 " style="margin-left: -14px;">
                <h1 class="fs-2">Sanyu InfoTech</h1>
              </a>
        
              <!-- Description -->
              <p class="card-text mt-2 " style="color: gainsboro;">
                We turn business challenges into growth with tailored digital solutions. 
                Our expert team creates powerful, scalable software that boosts efficiency and drives innovation, 
                helping businesses stay ahead in today’s fast-paced digital world.
              </p>
            </div>
          </div>
        </div>
        
        <div class="col">
          <div class="card h-100 ">
            
            <div class="card-body text-white text-start">
              <h5 class="card-title fs-4 mt-3">Quick Links</h5>
              <a routerLink="/home" class="nav-link active text-light card-text">
                <i class="fa-solid fa-arrow-right icon-orange"></i>Home</a>
              <a routerLink="/about" class="nav-link active text-light card-text">
                <i class="fa-solid fa-arrow-right icon-orange"></i>About</a>
              <a routerLink="/services" class="nav-link active text-light card-text">
                <i class="fa-solid fa-arrow-right icon-orange"></i>Services</a>
              <a routerLink="/mou" class="nav-link active text-light card-text">
                <i class="fa-solid fa-arrow-right icon-orange"></i>MOU With Colleges</a>
              <a routerLink="/contact" class="nav-link active text-light card-text">
                <i class="fa-solid fa-arrow-right icon-orange" ></i>Contact</a>
              
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            
            <div class="card-body text-white text-start">
              <h5 class="card-title fs-4 mt-3">Get In Touch</h5>
              <div class=" flex-wrap  " style="color: gainsboro;">
                <p class="mb-0 me-3 mt-3">
                    <i class="fa-solid fa-location-dot icon-orange"></i> Near Vikas Mitra Mandal Chowk, Karve Nagar, Pune, Maharashtra 411052
                </p>
                <p class="mb-0 me-3 mt-3" >
                    <i class="fa-solid fa-phone icon-orange"></i> +91 9168 94 95 96
                </p>
                <p class="mb-0 me-3 mt-3" >
                    <i class="fa-solid fa-envelope-open icon-orange"></i> hr@sanyuinfotech.com
                </p>
            </div>
            <div class="d-flex gap-3 mt-5 ">
              <a href="#" target="_blank" class="text-light">
                  <i class="fab fa-instagram fa-lg"></i>
              </a>
              <a href="#" target="_blank" class="text-light">
                  <i class="fab fa-facebook fa-lg"></i>
              </a>
              <a href="#" target="_blank" class="text-light">
                  <i class="fab fa-twitter fa-lg"></i>
              </a>
          
              <a href="#" target="_blank" class="text-light">
                  <i class="fab fa-linkedin fa-lg"></i>
              </a>
          </div>
      </div>
          </div>
        </div>
        
        
      </div>
     
      </div>
      <nav class="navbar text-light py-4 mt-4 footer-nav" style="background-color: #061429; margin-bottom: -47px;">
        <div class="container-fluid d-flex justify-content-between align-items-center flex-wrap text-center">
            
            <div class="d-flex flex-wrap footer-text">
                <p class="mb-0 me-3" style="font-size: small;">
                    © 2025 Sanyu Infotech Pvt. Ltd. All Rights Reserved.
                </p>
            </div>
    
            <div class="d-flex gap-3 footer-text">
                <p class="mb-0 me-3" style="font-size: small;">
                    Designed by Sanyu Infotech
                </p>
            </div>
    
        </div>
    </nav>

  </section>








   