<nav class="navbar navbar-expand-lg bg-white navbar-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" routerLink="/home">
      <img src="/assets/Images/Sanyu.png" alt="Logo" width="60" height="40" class="me-0">
      <span class="fw-bold fs-3 ms-0">Sanyu Infotech</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu" aria-controls="navmenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="text-black"><i class="fa-solid fa-bars"></i></span>
    </button>

    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav ms-auto fs-5">
        <li class="nav-item">
          <a routerLink="/home" class="nav-link" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="/about" class="nav-link" routerLinkActive="active">About</a>
        </li>
        <li class="nav-item">
          <a routerLink="/services" class="nav-link" routerLinkActive="active">Services</a>
        </li>
        <li class="nav-item">
          <a routerLink="/mou" class="nav-link" routerLinkActive="active">MOU With Colleges</a>
        </li>
        <li class="nav-item">
          <a routerLink="/contact" class="nav-link" routerLinkActive="active">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
