<app-navbar></app-navbar>

<!--Slider-->

<div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/Images/img1.png" class="d-block w-100" alt="Images">
      </div>
      <div class="carousel-item ">
        <img src="/assets/Images/img2.png" class="d-block w-100" alt="Images">
      </div>
      <div class="carousel-item">
        <img src="/assets/Images/img3.png" class="d-block w-100" alt="Images">
      </div>
      <div class="carousel-item">
        <img src="/assets/Images/img4.png" class="d-block w-100" alt="Images">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!--Project-->
  <section id="project-section" class="py-5 bg-white text-dark text-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="card-group shadow">
  
          
          <div class="card  border-0 bg-white text-dark p-3">
            <div class="card-body d-flex align-items-center">
              <div class="icon-box bg-dark-purple text-white">
                <i class="fa-solid fa-users"></i>
              </div>
              <div class="text-start ms-4">
                <h5 class="fw-bold fs-5  text-orange mt-3">Happy Clients</h5>
                <h1 class="fs-2" data-toggle="counter-up">58</h1>
              </div>
            </div>
          </div>
  
          
          <div class="card  border-0 bg-light text-dark p-3">
            <div class="card-body d-flex align-items-center">
              <div class="icon-box bg-dark-purple text-light">
                <i class="bi bi-check-lg"></i>
              </div>
              <div class="text-start ms-4">
                <h5 class="fw-bold fs-5  text-orange mt-3">Projects Done</h5>
                <h1 class="fs-2" data-toggle="counter-up">73</h1>
              </div>
            </div>
          </div>
  
          
          <div class="card  border-0 bg-white text-dark p-3">
            <div class="card-body d-flex align-items-center">
              <div class="icon-box bg-dark-purple text-light">
                <i class="fa-solid fa-award"></i>
              </div>
              <div class="text-start ms-4">
                <h5 class="fw-bold fs-5  text-orange mt-3">Win Awards</h5>
                <h1 class="fs-2" data-toggle="counter-up">5</h1>
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </section>
  
  
  
  
  
  
  
  

  <!--About-->

  <section id="about-section" class="py-5 bg-white text-dark">
    <div class="container">
      <div class="row align-items-center">

        <div class="col-lg-7 col-12">
          <h5 class="fw-bold text-uppercase fs-5 h5">About Us</h5>
          <h1 class="fs-2 fw-bold">Sanyu Infotech Private Limited – Empowering Careers with 10+ Years of Excellence</h1>
          <p class="text-muted">
            At Sanyu Infotech Private Limited, we believe in nurturing talent and building successful careers.
            We offer a comprehensive range of courses and internships designed to provide hands-on experience
            and in-depth knowledge in the latest technologies. Our programs are crafted to empower aspiring
            professionals with the skills they need to excel in the IT industry. Join us and take the first
            step towards a rewarding career!
          </p>


          <div class="row d-flex">
            <div class="col-md-7">
              <h5 class="text-dark fs-5 mb-0"><i class="bi bi-check icon-orange"></i> Award-Winning Training Programs</h5>
              <h5 class="text-dark fs-5 mb-0"><i class="bi bi-check icon-orange"></i> Expert Mentors & Professional Guidance</h5>
            </div>
            <div class="col-md-5">
              <h5 class="text-dark fs-5 mb-0"><i class="bi bi-check icon-orange"></i>24/7 Support</h5>
              <h5 class="text-dark fs-5 mb-0"><i class="bi bi-check icon-orange"></i> Fair Prices</h5>
            </div>
          </div>
          <div class="row d-flex align-items-center" style="margin-top: 20px;">
            <div class="col-auto ">
              <div class="d-flex align-items-center justify-content-center rounded"
                style="height: 60px; width: 60px; background-color: #4B0082;">
                <i class="bi bi-telephone-fill text-white"></i>
              </div>
            </div>
            <div class="col">
              <h5 class="text-dark fs-5 mb-0">Got Questions? We’re Here to Help!</h5>
              <h4 class="mb-0 mt-2 fs-5" style="color: #FF6A01;">+91 68 94 95 96</h4>
            </div>
          </div>

        </div>


        <div class="col-lg-5 col-12 text-center">
          <img src="/assets/Images/about11.png" alt="About Image" class="about-img img-fluid ">
        </div>
      </div>
    </div>
  </section>

  <!--Features-->

  <section id="features-section" class="py-5 bg-white text-dark text-center">
    <h5 class="fw-bold text-uppercase fs-5 h5">Why Choose Us?</h5>
    <h1 class="fs-2 fw-bold">Transforming Businesses with <br> Cutting-Edge IT Solutions</h1>
    
    <div class="container mt-5">
        <div class="row align-items-center">

           
            <div class="col-lg-4 text-start">
                <div class="info-box mt-5">
                    <div class="d-flex align-items-center justify-content-center rounded"
                        style="height: 60px; width: 60px; background-color: #4B0082;">
                        <i class="bi bi-bar-chart-fill text-white fs-4"></i>
                    </div>
                    <h5 class="card-title fs-4 mt-3 ">Industry Leaders</h5>
                    <p class="text-muted card-text mt-2">With over a decade of experience, we’re trusted globally for delivering solutions
                        that push technological boundaries and achieve measurable results.</p>
                </div>
                <div class="info-box mb-4">
                    <div class="d-flex align-items-center justify-content-center rounded"
                        style="height: 60px; width: 60px; background-color: #4B0082;">
                        <i class="bi bi-people-fill text-white fs-4"></i>
                    </div>
                    <h5 class="card-title fs-4 mt-3 ">Expert Team</h5>
                    <p class="text-muted card-text mt-2">Our skilled professionals bring diverse industry experience to tackle your unique
                        challenges with precision and care.</p>
                </div>
            </div>

           
            <div class="col-lg-4 col-12 d-flex justify-content-center ">
                <img src="/assets/Images/feature1.jpg" alt="About Image" class="img-fluid" style="max-width: 100%; height: 410px; object-fit: cover;">
            </div>

           
            <div class="col-lg-4 text-start">
                <div class="info-box  ">
                    <div class="d-flex align-items-center justify-content-center rounded mt-3 "
                        style="height: 60px; width: 60px; background-color: #4B0082;">
                        <i class="bi bi-award-fill text-white fs-4"></i>
                    </div>
                    <h5 class="card-title fs-4 mt-3">Experienced Professionals</h5>
                    <p class="text-muted card-text ">Our skilled team brings years of experience to tackle complex challenges and ensure your business thrives in today’s digital world.</p>
                </div>
                <div class="info-box mt-4">
                    <div class="d-flex align-items-center justify-content-center rounded"
                        style="height: 60px; width: 60px; background-color: #4B0082;">
                        <i class="bi bi-headset text-white fs-4"></i>
                    </div>
                    <h5 class="card-title fs-4 mt-3">24/7 Support</h5>
                    <p class="text-muted card-text ">We offer round-the-clock support to keep your systems running smoothly, no matter the time zone or challenge.</p>
                </div>
            </div>

        </div>
    </div>
</section>






  <!--Service-->
  
  <section id="services-section" class="py-5 bg-white text-dark text-center">
    <div class="container">
      <h5 class="fw-bold text-uppercase fs-5 h5">Our Services</h5>
      <h1 class="fs-2 fw-bold">Future-Proofing Your Business <br> with Advanced IT Strategies</h1>
  
      <div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
        
        <div class="col">
          <div class="card h-100 shadow border-0 rounded-3">
            <div class="card-body text-center">
              
              <div class="icon rounded">
              <i class="fa-solid fa-users text-white fs-4"></i>
          </div>
              <h5 class="card-title fs-4 mt-3 ">Software Development</h5>
              <p class="text-muted">Build full-stack applications with Java, Python, and MERN.</p>
            </div>
          </div>
        </div>
  
        <div class="col">
          <div class="card h-100 shadow border-0 rounded-3">
            <div class="card-body text-center">
              
              <div class="icon rounded">
              <i class="fa-solid fa-check-circle text-white fs-4"></i>
          </div>
              <h5 class="card-title fs-4 mt-3 ">Testing & QA</h5>
              <p class="text-muted">Master automation testing and software reliability.</p>
            </div>
          </div>
        </div>
  
        <div class="col">
          <div class="card h-100 shadow border-0 rounded-3">
            <div class="card-body text-center">
              
              <div class="icon rounded">
              <i class="fa-solid fa-cloud text-white fs-4"></i>
          </div>
              <h5 class="card-title fs-4 mt-3 ">Cloud Computing</h5>
              <p class="text-muted">Learn AWS for scalable and cost-effective cloud deployment.</p>
            </div>
          </div>
        </div>
  
        <div class="col">
          <div class="card h-100 shadow border-0 rounded-3">
            <div class="card-body text-center">
              
              <div class="icon rounded">
              <i class="fa-solid fa-shield-alt text-white fs-4"></i>
          </div>
              <h5 class="card-title fs-4 mt-3 ">DevOps Solutions</h5>
              <p class="text-muted">Streamline development with CI/CD and automation.</p>
            </div>
          </div>
        </div>
  
        <div class="col">
          <div class="card h-100 shadow border-0 rounded">
            <div class="card-body text-center">
              
              <div class="icon rounded">
              <i class="fa-solid fa-chart-line text-white fs-4"></i>
          </div>
              <h5 class="card-title fs-4 mt-3 ">Data Analytics</h5>
              <p class="text-muted">Analyze large datasets using modern analytics tools.</p>
            </div>
          </div>
        </div>
  
        <div class="col">
          <div class="card h-100 shadow border-0 rounded-3">
            <div class="card-body text-center">
              <div class="icon rounded">
              <i class="fa-solid fa-bullhorn text-white fs-4"></i>
          </div>
              <h5 class="card-title fs-4 mt-3 ">AI & Machine Learning</h5>
              <p class="text-muted">Develop AI-driven applications and predictive models.</p>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </section>
  
  
  
  

  <!--Quote-->

  <section id="quote-section" class="py-5 bg-white text-dark">
    <div class="container">
      <div class="row align-items-center">

        <div class="col-lg-7 col-12">
          <h5 class="fw-bold text-uppercase fs-5 h5">Request A Quote</h5>
          <h1 class="fs-2 fw-bold">Looking for expert IT training? Get in touch with us today for customized training
            solutions tailored to your needs.</h1>
          <div class="row d-flex mt-3 mb-3">
            <div class="col-md-6 mt-2">
              <h5 class="text-dark fs-5 mb-0"><i class="bi bi-reply-fill icon-orange-q" style="font-size: 30px;"></i> Reply within 24 hours</h5>

            </div>
            <div class="col-md-6">
              <h5 class="text-dark fs-5 mb-0"><i class="bi bi-telephone-fill icon-orange-q"></i>24 hrs telephone support</h5>
            </div>
          </div>
          <p class="text-muted">
            Eirmod sed tempor lorem ut dolores. Aliquyam sit sadipscing kasd ipsum.
            Dolor ea et dolore et at sea ea at dolor, justo ipsum duo rebum sea invidunt voluptua. Eos vero eos vero ea
            et dolore eirmod et. Dolores diam duo invidunt lorem. Elitr ut dolores magna sit.
            Sea dolore sanctus sed et. Takimata takimata sanctus sed.
          </p>



          <div class="row d-flex align-items-center" style="margin-top: 20px;">
            <div class="col-auto ">
              <div class="d-flex align-items-center justify-content-center rounded"
                style="height: 60px; width: 60px; background-color: #4B0082;">
                <i class="bi bi-telephone-fill text-white"></i>
              </div>
            </div>
            <div class="col">
              <h5 class="text-dark fs-5 mb-0">Call to ask any question</h5>
              <h4 class="mb-0 mt-2 fs-5" style="color: #FF6A01;">+91 9767 74 37 83</h4>
            </div>
          </div>


        </div>


        <div class="col-lg-5 col-12 text-center">
          <img src="/assets/Images/quote1.png" alt="About Image" class="about-img img-fluid ">
        </div>
      </div>
    </div>
  </section>

  <!--Blog-->
  <section id="blog-section" class="py-5 bg-white text-dark text-center">
    <div class="container">
    <h5 class="fw-bold text-uppercase fs-5 h5">Testimonial</h5>
    <h1 class="fs-2 fw-bold">Catch the Latest Reviews and <br>Updates on Our Blog!</h1>
    
      <div class="row align-items-center">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div class="card h-100 border-1 shadow">
              <iframe  src="https://www.youtube.com/embed/_7yJFVWVE8A?si=sFX8vHW1zsGMgqGj" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        
              <div class="card-body text-start bg-white text-dark">
                <p  style="color: #FF6A01"><i class="bi bi-person icon-orange-q" style="font-size: 20px; color: #FF6A01;"></i> Rutuja Nalawade</p>
                <h5 class="card-title fs-4 mt-3">45-Day Internship in Java</h5>
                <p style="color:darkgray;">Join our 45-day Java internship to master core Java concepts, build real-world projects, and gain hands-on experience. Perfect for beginners and aspiring developers!</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100 border-1 shadow">
              <iframe  src="https://www.youtube.com/embed/czhsktRpDe0?si=-mTHGiUyCvImhcPY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>  
        
              <div class="card-body text-start bg-white text-dark ">
                <p  style="color: #FF6A01;"><i class="bi bi-person icon-orange-q" style="font-size: 20px; color: #FF6A01;"></i> Shruti Rambhapure</p>
                <h5 class="card-title fs-4 mt-3">45-Day Internship in Java</h5>
                <p style="color: darkgray">Our 45-day Java internship offers in-depth training, mentorship, and project-based learning to help you kickstart your career in software development.</p>
              </div>
            </div>
          </div>
          <div class="col video-container">
            <div class="card h-100 shadow">
              <iframe  src="https://www.youtube.com/embed/OU8yimS3cAs?si=jNOEV6DTlvzSQOaB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
              <div class="card-body text-start bg-white text-dark">
                <p style="color: #FF6A01;"><i class="bi bi-person icon-orange-q" style="font-size: 20px; color: #FF6A01;"></i> Santosh Dhulgand</p>
                <h5 class="card-title fs-4 mt-3">Importance of Internships</h5>
                <p style="color: darkgray">Internships provide real-world experience, enhance skills, and boost employability , what is internship , why internship. Start your journey with us today!</p>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </section>
  <app-footer ></app-footer>